{%extends 'base.html'%}

{% block content %}
<div class="jumbotron bg-cover text-white"
  style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://placeimg.com/1000/480/nature)">
  <div class="container">
    <h1 class="display-4">Prism</h1>

    <hr class="my-4">

    <a class="btn light-green darken-2 btn-lg text-white" href="/search" role="button">Search Picture</a>
  </div>
</div>
{{block.super}}


<div class="row">
  {% for image in images %}
  <div class="col-md-3" style="padding: 0.5%">

    <a class="link" data-toggle="modal" data-target="#{{image.image_name}}">

      <div class="box">
        <div class="card">
          <div class="imgBx">
            <img src="{{image.image_url.url}}" height="150px">
          </div>

        </div>

      </div>
    </a>
    <!-- Modal -->
    <div class="modal fade" id="{{image.image_name}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">


        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{image.image_name}} <i>Taken on :
                {{image.date_posted}}</i></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="showImg" class="modal-body">
            <img class="img-fluid" src="{{image.image_url.url}}" />
          </div>
          <div style="text-align:center" class="">
            <i class="">{{image.image_decription}}</i> <i class="fas fa-map-marker-alt">{{image.location}}</i>

          </div>
          <div style="text-align:center" class="modal-footer">
            <div>
              <button value="https://studiobeta.herokuapp.com{{image.image_url.url}}" class="btn btn-primary btn-sm"
                onclick="copylink(this.value)">
                <i class="fas fa-copy"> Copy link</i></button></div>
              

          </div>
        </div>
      </div>
    </div>







  </div>


  {% endfor %}
</div>
<script>
  function copylink(value){

  

    function handler(event) {
      event.clipboardData.setData('text/plain', value);
      event.preventDefault();
      document.removeEventListener('copy', handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
  }
</script>

{% endblock %}